<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Hand">

  <!-- Materials (shared across all assemblies) -->
  <material name="Steel">
    <color rgba="0.098 0.098 0.098 1.0"/>
  </material>
  <material name="PPS">
    <color rgba="0.098 0.098 0.098 1.0"/>
  </material>

  <!-- Assembly includes -->
  <xacro:include filename="$(find Hand_description)/urdf/assemblies/Hand.urdf.xacro"/>

  <!-- Instantiate assemblies -->
  <xacro:Hand prefix=""/>

</robot>